<div>  
  <h1 class="font-bold text-4xl text-red-30">Kategoriler</h1>
  <h1 class="flex justify-center"><%= render_icon "check",class:"bg-red-300 rounded-xl text-purple-200 my-10 w-30"%></h1>
   
  <br/>
  <ul class="outline-blue-100">
    <% @categories.each do %>
      <li class="text-blue-500 text-xl font-bold bg-purple-200 border border-purple-400 rounded-xl p-2 my-3 text-center">
        <%= link_to(it.title,category_path(it.title))%>
      </li>
    <%end%>
    <%= render @categories%>
  </ul>
  <br>
    <%= link_to("Yeni ekle",new_category_path,class:"rounded-full bg-sky-500 p-3 m-11")%>
</div>
